.gallery {
  display: grid;
  grid-gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  max-width: 880px;
  margin: 60px auto 0;
  padding: 0;
}

.card {
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__title {
  display: flex;
  color: black;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 17px;
  line-height: 29.05px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card__heart {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: 0;
}
