.gallery {
  display: grid;
  grid-gap: 20px 17px;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  max-width: 880px;
  margin: 60px auto 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .gallery {
    margin-top: 40px;
  }
}
