/*All Styling for the top of page*/
.header {
  max-width: 880px;
  width: 90%;
  margin: 45px auto;
}

.header__logo {
  width: 880px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .header {
    margin-left: auto;
    margin-right: auto;
  }
  .header__logo {
    width: 90%;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
