.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  max-width: 880px;
}

.profile__picture {
  overflow: hidden;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.profile__content {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__name {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.profile__description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  grid-area: description;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 373px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  margin-left: auto;
  padding: 0;
}

.profile__edit {
  background: transparent url(../images/edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  grid-area: button;
  display: block;
  padding: 0;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__edit:hover {
  cursor: pointer;
  opacity: 60%;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
    max-height: 286px;
  }

  .profile__content {
    grid-template-areas:
      "title button"
      "description description";
    grid-template-columns: 196px 18px;
    margin: 0 auto 0 auto;
    max-height: 50px;
    grid-gap: 10px;
  }

  .profile__name {
    grid-area: title;
    text-wrap: nowrap;
    margin: 0 auto 0 0;
    font-size: 22px;
    line-height: 27px;
    text-align: right;
  }

  .profile__edit {
    max-width: 24px;
    height: 18px;
    width: 18px;
  }

  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0 auto 20px auto;
  }

  .profile__add-button {
    margin: 40px 0 0 0;
    width: 90%;
  }

  .profile__picture {
    margin: 0 auto 20px auto;
  }
}
