.profile {
  padding-top: 40px;
  display: flex;
  align-items: center;
  max-width: 880px;
}

.profile__picture {
  overflow: hidden;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.profile__content {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.name {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: white;
  grid-area: description;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 373px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  margin-left: auto;
}

.edit {
  background: transparent url(../images/edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  grid-area: button;
  display: block;
  margin-top: 1em;
  margin-left: 1em;
}

.profile__add-button:hover {
  background: transparent url(../images/add-icon-hover.svg) center no-repeat;
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.edit:hover {
  background: transparent url(../images/edit-icon-hover.svg) center no-repeat;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }

  .profile__content {
    grid-template-areas:
      "title button"
      "description description";
    grid-template-columns: auto auto;
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .name {
    grid-area: title;
    text-wrap: nowrap;
    margin-left: auto;
  }

  .edit {
    margin-top: 2em;
    margin-left: 0;
  }

  .description {
    text-align: center;
  }

  .profile__add-button {
    margin: 0px;
    width: 90%;
    border: 2px solid #ffffff;
  }

  .profile__picture {
    margin: 0 auto;
  }
}
